/*
 * TK-FCP026BK Shield Overlay v4
 * XIAO nRF52840 + MCP23017
 *
 * Row 0-7  : XIAO GPIO (D0-D3, D7-D10)  ※D4/D5はI2C専用、D6は未使用
 * Row 8-15 : MCP23017 GPA0-7 (I2C)
 * Col 0-7  : MCP23017 GPB0-7 (I2C)
 *
 * ダイオードなしマトリクス:
 *   diode-direction = "col2row"
 *   Col: OUTPUT (GPIO_ACTIVE_LOW)
 *   Row: INPUT  (GPIO_PULL_UP)
 */
#include "keymaps/tk_fcp026bk.keymap"

&i2c0 {
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_FAST>; /* 400kHz */
    mcp23017: mcp23017@20 {
        compatible = "microchip,mcp23017";
        reg = <0x20>;
        gpio-controller;
        #gpio-cells = <2>;
        ngpios = <16>;
        status = "okay";
    };
};

/* P0.28/P0.29 (D2/D3) をNFCピンからGPIOとして使用するための設定 */
&uicr {
    nfct-pins-as-gpios;
};

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 4)>,
                    <NRF_PSEL(TWIM_SCL, 0, 5)>;
        };
    };
};

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";

        /*
         * col2row: ColをOUTPUT LOWで駆動、RowをINPUT PULLUPで読む
         * Arduinoスキャン時と同じ動作方向
         *
         * poll-period-ms: MCP23017のGPIOは割り込み不可のためポーリングモード必須
         * （INTA/INTBをXIAOに配線しない限り割り込みは使えない）
         */
        diode-direction = "col2row";
        poll-period-ms = <10>;
        debounce-press-ms = <20>;
        debounce-release-ms = <10>;

        row-gpios
            = <&gpio0 2  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   /* Row0  D0  P0.02 */
            , <&gpio0 3  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   /* Row1  D1  P0.03 */
            , <&gpio0 28 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   /* Row2  D2  P0.28 */
            , <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   /* Row3  D3  P0.29 */
            , <&gpio1 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   /* Row4  D7  P1.12 */
            , <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   /* Row5  D8  P1.13 */
            , <&gpio1 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   /* Row6  D9  P1.14 */
            , <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   /* Row7  D10 P1.15 */
            , <&mcp23017 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* Row8  GPA0 */
            , <&mcp23017 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* Row9  GPA1 */
            , <&mcp23017 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* Row10 GPA2 */
            , <&mcp23017 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* Row11 GPA3 */
            , <&mcp23017 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* Row12 GPA4 */
            , <&mcp23017 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* Row13 GPA5 */
            , <&mcp23017 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* Row14 GPA6 */
            , <&mcp23017 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> /* Row15 GPA7 */
            ;

        col-gpios
            = <&mcp23017 8  GPIO_ACTIVE_LOW> /* Col0 GPB0 */
            , <&mcp23017 9  GPIO_ACTIVE_LOW> /* Col1 GPB1 */
            , <&mcp23017 10 GPIO_ACTIVE_LOW> /* Col2 GPB2 */
            , <&mcp23017 11 GPIO_ACTIVE_LOW> /* Col3 GPB3 */
            , <&mcp23017 12 GPIO_ACTIVE_LOW> /* Col4 GPB4 */
            , <&mcp23017 13 GPIO_ACTIVE_LOW> /* Col5 GPB5 */
            , <&mcp23017 14 GPIO_ACTIVE_LOW> /* Col6 GPB6 */
            , <&mcp23017 15 GPIO_ACTIVE_LOW> /* Col7 GPB7 */
            ;
    };
};
